body{
    background-color: aquamarine;
}

#title{
    text-align: center;
    font-size: 50px;
}

#navbar{
    text-align: center;
}

th, td {
    border: solid #0;
    padding: 10px;
    text-align: left;
    border-collapse: collapse;
}

.textos{
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
}
